<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arrow_left</key>
	<string>arrow_left.png</string>
	<key>arrow_left@x2</key>
	<string>arrow_left@x2png</string>
	<key>arrow_right</key>
	<string>arrow_right.png</string>
	<key>arrow_right@x2</key>
	<string>arrow_right@x2.png</string>
	<key>black_gradient_30</key>
	<string>black_gradient_30.png</string>
	<key>black_gradient_32</key>
	<string>black_gradient_32.png</string>
	<key>blue_button</key>
	<string>blue_button.png</string>
	<key>blue_button_pressed</key>
	<string>blue_button_pressed.png</string>
	<key>blue_gradient_40</key>
	<string>blue_gradient_40.png</string>
	<key>checked</key>
	<string>checked.png</string>
	<key>gray_gradient_24</key>
	<string>gray_gradient_24.png</string>
	<key>navigation_background</key>
	<string>navigation_background.png</string>
	<key>navigation_left</key>
	<string>navigation_left.png</string>
	<key>navigation_right</key>
	<string>navigation_right.png</string>
	<key>player_forward</key>
	<string>player_forward_gray.png</string>
	<key>player_pause</key>
	<string>player_pause_gray.png</string>
	<key>player_play</key>
	<string>player_play_gray.png</string>
	<key>player_rewind</key>
	<string>player_rewind_gray.png</string>
	<key>red_gradient_24</key>
	<string>red_gradient_24.png</string>
	<key>red_gradient_44</key>
	<string>red_gradient_44.png</string>
	<key>selected</key>
	<string>selected.png</string>
	<key>tabBar_about_normal</key>
	<string>tabBar_about.png</string>
	<key>tabBar_audios_highlighted</key>
	<string>tabBar_file.png</string>
	<key>tabBar_audios_normal</key>
	<string>tabBar_audio.png</string>
	<key>tabBar_grammar_normal</key>
	<string>tabBar_grammar.png</string>
	<key>tabBar_recorder_normal</key>
	<string>tabBar_recorder.png</string>
	<key>tabBar_unit_normal</key>
	<string>tabBar_unit.png</string>
	<key>unchecked</key>
	<string>unchecked.png</string>
	<key>unselected</key>
	<string>unselected.png</string>
	<key>volume_up</key>
	<string>volume_up.png</string>
	<key>volumn_down</key>
	<string>volume_down.png</string>
	<key>white_button</key>
	<string>white_button.png</string>
	<key>white_button_large</key>
	<string>white_button_large.png</string>
</dict>
</plist>
