<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>subjects</key>
	<array>
		<dict>
			<key>default</key>
			<true/>
			<key>handler</key>
			<string>KSTabViewController</string>
			<key>hidden</key>
			<false/>
			<key>icons</key>
			<dict>
				<key>icon_highlighted</key>
				<string>tabBar_audios_highlighted</string>
				<key>icon_normal</key>
				<string>tabBar_audios_normal</string>
			</dict>
			<key>items</key>
			<array>
				<dict>
					<key>default</key>
					<true/>
					<key>delegate</key>
					<string>KSAudiosCategoryDelegate</string>
					<key>hidden</key>
					<false/>
					<key>key</key>
					<string>all</string>
					<key>loop_mode</key>
					<string>all</string>
					<key>size</key>
					<string>{60, 28}</string>
					<key>title</key>
					<string>txt-all</string>
					<key>with_player</key>
					<true/>
				</dict>
				<dict>
					<key>delegate</key>
					<string>KSAudiosCategoryDelegate</string>
					<key>hidden</key>
					<false/>
					<key>key</key>
					<string>vowel</string>
					<key>loop_mode</key>
					<string>all</string>
					<key>size</key>
					<string>{60, 28}</string>
					<key>title</key>
					<string>txt-vowel</string>
					<key>with_player</key>
					<true/>
				</dict>
				<dict>
					<key>delegate</key>
					<string>KSAudiosCategoryDelegate</string>
					<key>hidden</key>
					<false/>
					<key>key</key>
					<string>consonant</string>
					<key>loop_mode</key>
					<string>all</string>
					<key>size</key>
					<string>{80, 28}</string>
					<key>title</key>
					<string>txt-consonant</string>
					<key>with_player</key>
					<true/>
				</dict>
				<dict>
					<key>delegate</key>
					<string>KSAudiosCategoryDelegate</string>
					<key>hidden</key>
					<false/>
					<key>key</key>
					<string>symbol</string>
					<key>loop_mode</key>
					<string>unit</string>
					<key>size</key>
					<string>{60, 28}</string>
					<key>title</key>
					<string>txt-symbol</string>
					<key>with_player</key>
					<true/>
				</dict>
			</array>
			<key>key</key>
			<string>audios</string>
			<key>title</key>
			<string>txt-tab-audios</string>
		</dict>
		<dict>
			<key>handler</key>
			<string>KSTabViewController</string>
			<key>hidden</key>
			<false/>
			<key>icons</key>
			<dict>
				<key>icon_normal</key>
				<string>tabBar_unit_normal</string>
			</dict>
			<key>items</key>
			<array>
				<dict>
					<key>default</key>
					<true/>
					<key>delegate</key>
					<string>KSUnitsCategoryDelegate</string>
					<key>hidden</key>
					<false/>
					<key>key</key>
					<string>all</string>
					<key>size</key>
					<string>{60, 28}</string>
					<key>title</key>
					<string>txt-all</string>
				</dict>
				<dict>
					<key>default</key>
					<false/>
					<key>delegate</key>
					<string>KSUnitsCategoryDelegate</string>
					<key>hidden</key>
					<false/>
					<key>key</key>
					<string>vowel</string>
					<key>size</key>
					<string>{60, 28}</string>
					<key>title</key>
					<string>txt-vowel</string>
				</dict>
				<dict>
					<key>default</key>
					<false/>
					<key>delegate</key>
					<string>KSUnitsCategoryDelegate</string>
					<key>hidden</key>
					<false/>
					<key>key</key>
					<string>consonant</string>
					<key>size</key>
					<string>{80, 28}</string>
					<key>title</key>
					<string>txt-consonant</string>
				</dict>
				<dict>
					<key>default</key>
					<false/>
					<key>delegate</key>
					<string>KSUnitsCategoryDelegate</string>
					<key>hidden</key>
					<false/>
					<key>key</key>
					<string>symbol</string>
					<key>size</key>
					<string>{60, 28}</string>
					<key>title</key>
					<string>txt-symbol</string>
				</dict>
			</array>
			<key>key</key>
			<string>units</string>
			<key>title</key>
			<string>txt-tab-units</string>
		</dict>
		<dict>
			<key>handler</key>
			<string>KSTabViewController</string>
			<key>hidden</key>
			<false/>
			<key>icons</key>
			<dict>
				<key>icon_normal</key>
				<string>tabBar_grammar_normal</string>
			</dict>
			<key>items</key>
			<array>
				<dict>
					<key>default</key>
					<true/>
					<key>delegate</key>
					<string>KSGrammarDelegate</string>
					<key>hidden</key>
					<false/>
					<key>hidden_navigation</key>
					<true/>
					<key>key</key>
					<string>grammer</string>
					<key>size</key>
					<string>{60, 28}</string>
					<key>title</key>
					<string>txt-tab-grammar</string>
				</dict>
			</array>
			<key>key</key>
			<string>grammar</string>
			<key>title</key>
			<string>txt-tab-grammar</string>
		</dict>
		<dict>
			<key>handler</key>
			<string>KSTabViewController</string>
			<key>hidden</key>
			<false/>
			<key>icons</key>
			<dict>
				<key>icon_normal</key>
				<string>tabBar_recorder_normal</string>
			</dict>
			<key>items</key>
			<array>
				<dict>
					<key>default</key>
					<true/>
					<key>delegate</key>
					<string>KSRecorderDelegate</string>
					<key>hidden</key>
					<false/>
					<key>hidden_navigation</key>
					<true/>
					<key>key</key>
					<string>recorder</string>
					<key>size</key>
					<string>{60, 28}</string>
					<key>title</key>
					<string>txt-tab-recorder</string>
				</dict>
			</array>
			<key>key</key>
			<string>recorder</string>
			<key>title</key>
			<string>txt-tab-recorder</string>
		</dict>
		<dict>
			<key>handler</key>
			<string>KSTabViewController</string>
			<key>hidden</key>
			<false/>
			<key>icons</key>
			<dict>
				<key>icon_normal</key>
				<string>tabBar_about_normal</string>
			</dict>
			<key>items</key>
			<array>
				<dict>
					<key>default</key>
					<true/>
					<key>delegate</key>
					<string>KSAboutDelegate</string>
					<key>hidden</key>
					<false/>
					<key>hidden_navigation</key>
					<true/>
					<key>key</key>
					<string>about</string>
					<key>size</key>
					<string>{60, 28}</string>
					<key>title</key>
					<string>txt-tab-about</string>
				</dict>
			</array>
			<key>key</key>
			<string>about</string>
			<key>title</key>
			<string>txt-tab-about</string>
		</dict>
	</array>
</dict>
</plist>
